<div class="icon-section @(IsConsecutive ? "consecutive" : "")">
    <ChartTooltipIconBlock IconUrl="@IconUrl" 
                           IconAlt="@IconAlt"
                           IconSize="@IconSize">
        <div>
            @if (Title != null)
            {
                <div class="title">@Title</div>
            }

            @if (ChildContent != null)
            {
                @ChildContent
            }
        </div>
    </ChartTooltipIconBlock>
</div>

@code {
    [Parameter]
    public string? IconUrl { get; set; }

    [Parameter]
    public string? IconAlt { get; set; }

    [Parameter]
    public IconSize IconSize { get; set; } = IconSize.Regular;

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public bool IsConsecutive { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
