<div class="ratings-section">
    @if (Title != null)
    {
        <h2>@Title</h2>
    }

    @if (TargetRatings != null)
    {
        <div class="ratings-target">
            <ChartTooltipIconSection IconUrl="images/target.svg"
                                     IconAlt="Target Ratings">
                <div class="ratings">
                    <div class="rating">
                        <span class="highlighted-value">@Formatter.FormatNumber(TargetRatings)</span>
                        <span> million additional viewers</span>
                    </div>
                </div>
            </ChartTooltipIconSection>
        </div>
    }

    <ChartTooltipIconSection IconUrl="images/view.svg"
                             IconAlt="Ratings">
        <div class="ratings">
            @if (OvernightRatings != null)
            {
                <div class="rating">
                    <span class="highlighted-value">@Formatter.FormatNumber(OvernightRatings)</span>
                    <span> million overnight viewers</span>
                </div>
            }

            @if (ConsolidatedRatings != null)
            {
                <div class="rating">
                    <span class="highlighted-value">@Formatter.FormatNumber(ConsolidatedRatings)</span>
                    <span> million viewers after seven days</span>
                </div>
            }

            @if (ExtendedRatings != null)
            {
                <div class="rating">
                    <span class="highlighted-value">@Formatter.FormatNumber(ExtendedRatings)</span>
                    <span> million viewers after seven days on all devices</span>
                </div>
            }
        </div>
    </ChartTooltipIconSection>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public decimal? TargetRatings { get; set; }

    [Parameter]
    public decimal? OvernightRatings { get; set; }

    [Parameter]
    public decimal? ConsolidatedRatings { get; set; }

    [Parameter]
    public decimal? ExtendedRatings { get; set; }
}
