@page "/"
@layout HomeLayout

<PageTitle>Doctor Who Ratings</PageTitle>

<main>
    <header>
        <span class="title-doctor-who">Doctor Who</span>
        <span class="title-ratings">RATINGS</span>
    </header>
    
    <nav>
        <ul>
            <li>
                <ChartSelectionNavLink Url="charts/all-episodes"
                                       IconUrl="images/line-chart.svg"
                                       Title="@AllEpisodesChartCaptions.Title"
                                       Description="@AllEpisodesChartCaptions.Description" />
            </li>
            <li>
                <ChartSelectionNavLink Url="charts/all-episodes-by-doctor"
                                       IconUrl="images/bar-chart.svg"
                                       Title="@(AllEpisodesByDoctorChartCaptions.Title)"
                                       Description="@AllEpisodesByDoctorChartCaptions.Description" />
            </li>
            <li>
                <ChartSelectionNavLink Url="charts/average-by-doctor"
                                       IconUrl="images/bar-chart.svg"
                                       Title="@AverageByDoctorChartCaptions.Title"
                                       Description="@AverageByDoctorChartCaptions.Description" />
            </li>
            <li>
                <ChartSelectionNavLink Url="charts/high-low-by-doctor"
                                       IconUrl="images/bar-chart.svg"
                                       Title="@HighLowEpisodesByDoctorChartCaptions.Title"
                                       Description="@HighLowEpisodesByDoctorChartCaptions.Description" />
            </li>
            <li>
                <ChartSelectionNavLink Url="charts/top-20-episodes"
                                       IconUrl="images/bar-chart.svg"
                                       Title="@Top20EpisodesChartCaptions.Title"
                                       Description="@Top20EpisodesChartCaptions.Description" />
            </li>
            <li>
                <ChartSelectionNavLink Url="charts/bottom-20-episodes"
                                       IconUrl="images/bar-chart.svg"
                                       Title="@Bottom20EpisodesChartCaptions.Title"
                                       Description="@Bottom20EpisodesChartCaptions.Description" />
            </li>
            <li>
                <ChartSelectionNavLink Url="charts/total-hours-watched-by-doctor"
                                       IconUrl="images/pie-chart.svg"
                                       Title="@TotalHoursWatchedByDoctorChartCaptions.Title"
                                       Description="@TotalHoursWatchedByDoctorChartCaptions.Description" />
            </li>
            <li>
                <ChartSelectionNavLink Url="charts/population"
                                       IconUrl="images/line-chart.svg"
                                       Title="@PopulationByYearChartCaptions.Title"
                                       Description="@PopulationByYearChartCaptions.Description" />
            </li>
        </ul>
    </nav>

    <footer>
        <a href="sources">Sources and methodology</a>
    </footer>
</main>

<div class="tardis-image"></div>
