@page "/"
@layout HomeLayout

<PageTitle>Doctor Who Ratings</PageTitle>

<main>
    <header class="text-shadow">
        <span class="title-doctor-who">Doctor Who</span>
        <span class="title-ratings">RATINGS</span>
    </header>

    <nav>
        <ul class="nav-links">
            <li>
                <ChartSelectionNavLink Url="charts/dashboard"
                                       IconUrl="images/dashboard.svg"
                                       Title="@DashboardCaptions.Title"
                                       Description="@DashboardCaptions.Description" />
            </li>
        </ul>
        <ul class="nav-links">
            <li>
                <ChartSelectionNavLink Url="charts/timeline"
                                       IconUrl="images/timeline.svg"
                                       Title="@TimelineChartCaptions.Title"
                                       Description="@TimelineChartCaptions.Description" />
            </li>
            <li>
                <ChartSelectionNavLink Url="charts/episodes"
                                       IconUrl="images/timeline.svg"
                                       Title="@EpisodeGuideChartCaptions.Title"
                                       Description="@EpisodeGuideChartCaptions.Description" />
            </li>
        </ul>
        <ul class="nav-links">
            <li>
                <ChartSelectionNavLink Url="charts/all-episodes"
                                       IconUrl="images/line-chart.svg"
                                       Title="@AllEpisodesChartCaptions.Title"
                                       Description="@AllEpisodesChartCaptions.Description" />
            </li>
            <li>
                <ChartSelectionNavLink Url="charts/all-episodes-by-popularity"
                                       IconUrl="images/line-chart.svg"
                                       Title="@AllEpisodesByPopularityChartCaptions.Title"
                                       Description="@AllEpisodesByPopularityChartCaptions.Description" />
            </li>
            <li>
                <ChartSelectionNavLink Url="charts/all-episodes-by-population-percentage"
                                       IconUrl="images/line-chart.svg"
                                       Title="@(AllEpisodesByPopulationPercentageChartCaptions.Title)"
                                       Description="@AllEpisodesByPopulationPercentageChartCaptions.Description" />
            </li>
            <li>
                <ChartSelectionNavLink Url="charts/all-episodes-by-doctor"
                                       IconUrl="images/bar-chart.svg"
                                       Title="@(AllEpisodesByDoctorChartCaptions.Title)"
                                       Description="@AllEpisodesByDoctorChartCaptions.Description" />
            </li>
            <li>
                <ChartSelectionNavLink Url="charts/all-episodes-by-season"
                                       IconUrl="images/bar-chart.svg"
                                       Title="@(AllEpisodesBySeasonChartCaptions.Title)"
                                       Description="@AllEpisodesBySeasonChartCaptions.Description" />
            </li>
            <li>
                <ChartSelectionNavLink Url="charts/trends-all-episodes"
                                       IconUrl="images/line-chart.svg"
                                       Title="@AllEpisodesTrendsChartCaptions.Title"
                                       Description="@AllEpisodesTrendsChartCaptions.Description" />
            </li>
            <li>
                <ChartSelectionNavLink Url="charts/specials-only"
                                       IconUrl="images/bar-chart.svg"
                                       Title="@(SpecialsOnlyChartCaptions.Title)"
                                       Description="@SpecialsOnlyChartCaptions.Description" />
            </li>
            <li>
                <ChartSelectionNavLink Url="charts/average-by-doctor"
                                       IconUrl="images/bar-chart.svg"
                                       Title="@AverageByDoctorChartCaptions.Title"
                                       Description="@AverageByDoctorChartCaptions.Description" />
            </li>
            <li>
                <ChartSelectionNavLink Url="charts/average-by-season"
                                       IconUrl="images/bar-chart.svg"
                                       Title="@AverageBySeasonChartCaptions.Title"
                                       Description="@AverageBySeasonChartCaptions.Description" />
            </li>
            <li>
                <ChartSelectionNavLink Url="charts/average-by-story"
                                       IconUrl="images/bar-chart.svg"
                                       Title="@AverageByStoryChartCaptions.Title"
                                       Description="@AverageByStoryChartCaptions.Description" />
            </li>
            <li>
                <ChartSelectionNavLink Url="charts/high-low-by-doctor"
                                       IconUrl="images/bar-chart.svg"
                                       Title="@HighLowEpisodesByDoctorChartCaptions.Title"
                                       Description="@HighLowEpisodesByDoctorChartCaptions.Description" />
            </li>
            <li>
                <ChartSelectionNavLink Url="charts/premier-finale-by-season"
                                       IconUrl="images/line-chart.svg"
                                       Title="@PremierFinaleEpisodesBySeasonChartCaptions.Title"
                                       Description="@PremierFinaleEpisodesBySeasonChartCaptions.Description" />
            </li>
            <li>
                <ChartSelectionNavLink Url="charts/top-20-episodes"
                                       IconUrl="images/bar-chart.svg"
                                       Title="@Top20EpisodesChartCaptions.Title"
                                       Description="@Top20EpisodesChartCaptions.Description" />
            </li>
            <li>
                <ChartSelectionNavLink Url="charts/bottom-20-episodes"
                                       IconUrl="images/bar-chart.svg"
                                       Title="@Bottom20EpisodesChartCaptions.Title"
                                       Description="@Bottom20EpisodesChartCaptions.Description" />
            </li>
            <li>
                <ChartSelectionNavLink Url="charts/by-content"
                                       IconUrl="images/pie-chart.svg"
                                       Title="@ShareByContentChartCaptions.Title"
                                       Description="@ShareByContentChartCaptions.Description" />
            </li>
            <li>
                <ChartSelectionNavLink Url="charts/total-hours-watched-by-doctor"
                                       IconUrl="images/pie-chart.svg"
                                       Title="@ShareByHoursWatchedChartCaptions.Title"
                                       Description="@ShareByHoursWatchedChartCaptions.Description" />
            </li>
            <li>
                <ChartSelectionNavLink Url="charts/by-era"
                                       IconUrl="images/pie-chart.svg"
                                       Title="@ShareByEraChartCaptions.Title"
                                       Description="@ShareByEraChartCaptions.Description" />
            </li>
        </ul>
        <ul class="nav-links">
            <li>
                <ChartSelectionNavLink Url="charts/population"
                                       IconUrl="images/line-chart.svg"
                                       Title="@PopulationByYearChartCaptions.Title"
                                       Description="@PopulationByYearChartCaptions.Description" />
            </li>
        </ul>
    </nav>

    <footer>
        <a href="sources" class="text-shadow">Sources and methodology</a>
    </footer>
</main>
