@page "/"

<PageTitle>Doctor Who Ratings</PageTitle>

<div class="page-content">
    <div>
        <span class="title-doctor-who">Doctor Who</span>
        <span class="title-ratings">RATINGS</span>
    </div>

    <ul class="chart-list">
        <li>
            <ChartNavLink Url="charts/all-episodes"
                          IconUrl="images/bar-chart.svg"
                          Title="@AllEpisodesData.Title"
                          Description="@AllEpisodesData.Description" />
        </li>
        <li>
            <ChartNavLink Url="charts/average-by-doctor"
                          IconUrl="images/bar-chart.svg"
                          Title="@AverageByDoctorData.Title"
                          Description="@AverageByDoctorData.Description" />
        </li>
        <li>
            <ChartNavLink Url="charts/high-low-by-doctor"
                          IconUrl="images/line-chart.svg"
                          Title="@HighLowEpisodesByDoctorData.Title"
                          Description="@HighLowEpisodesByDoctorData.Description" />
        </li>
        <li>
            <ChartNavLink Url="charts/population"
                          IconUrl="images/line-chart.svg"
                          Title="@PopulationByYearData.Title"
                          Description="@PopulationByYearData.Description" />
        </li>
    </ul>
    
    <div class="sources">
        <a href="sources">Sources and methodology</a>
    </div>
</div>

<div class="tardis-image"></div>
