<ChartTooltip>
    <ChartTooltipEpisodeSetion Actor="@DataPoint.Actor"
                               EpisodeCount="@DataPoint.EpisodeCount"
                               TotalEpisodeHours="@DataPoint.TotalEpisodeHours" />

    <ChartTooltipBreak />
    
    <ChartTooltipIconSecion IconUrl="images/pie-chart.svg"
                            IconAlt="Share">
        <div>@Formatter.FormatNumber(PercentageShare)% share of total hours watched</div>
    </ChartTooltipIconSecion>

    <ChartTooltipBreak />
    
    <ChartTooltipWatchedHoursSection OvernightHoursWatched="@DataPoint.TotalOvernightHoursWatched"
                                     ConsolidatedHoursWatched="@DataPoint.TotalConsolidatedHoursWatched"
                                     ExtendedHoursWatched="@DataPoint.TotalExtendedHoursWatched" />

    
</ChartTooltip>

@code {
    [Parameter]
    public required TotalHoursWatchedByDoctorDataPoint DataPoint { get; set; }

    [Parameter]
    public required TotalHoursWatchedByDoctorDataOptions DataOptions { get; set; }

    [Parameter]
    public decimal PercentageShare { get; set; }
}
