@page "/charts/total-hours-watched-by-doctor"
@inject ITotalHoursWatchedByDoctorDataPointGenerator DataPointGenerator

<PageTitle>@TotalHoursWatchedByDoctorChartCaptions.Title - @Application.Name</PageTitle>

<ChartHeading Title="@TotalHoursWatchedByDoctorChartCaptions.Title"
              Description="@(TotalHoursWatchedByDoctorChartCaptions.Description + " *")" />

<FullScreenZone>
    <Chart>
        <ApexChart @ref="Chart"
                   TItem="TotalHoursWatchedByDoctorDataPoint"
                   Title="@TotalHoursWatchedByDoctorChartCaptions.Title"
                   Options="ChartOptions"
                   Height="@("100%")"
                   Width="@("100%")">

            <ApexPointTooltip>
                <TotalHoursWatchedByDoctorTooltip DataPoint="@context.DataPoint.Items.First()"
                                                  DataOptions="DataOptions"
                                                  PercentageShare="@GetPercentageShare(@context.DataPoint.Items.First())" />
            </ApexPointTooltip>

            <ChildContent>
                <ApexPointSeries TItem="TotalHoursWatchedByDoctorDataPoint"
                                 Items="DataPoints"
                                 SeriesType="SeriesType.Pie"
                                 XValue="dataPoint => dataPoint.UnambiguousActor"
                                 YValue="dataPoint => dataPoint.CalculatedTotalHoursWatched"
                                 ShowDataLabels />
            </ChildContent>
        </ApexChart>
    </Chart>

    <ChartOptions>
        <ChartOptionsGroup>
            <ChartOptionsText Label="Calculate using" />

            <ChartOptionsRadio @bind-Value="DataOptions.CalculationMethod"
                               Id="overnight" Group="ratingsOption"
                               CheckedValue="@TotalHoursWatchedByDoctorCalculationMethod.Overnight"
                               AfterValueChanged="AfterOptionChanged">
            </ChartOptionsRadio>

            <ChartOptionsRadio @bind-Value="DataOptions.CalculationMethod"
                               Id="consolidated" Group="ratingsOption"
                               CheckedValue="@TotalHoursWatchedByDoctorCalculationMethod.Consolidated"
                               AfterValueChanged="AfterOptionChanged">
            </ChartOptionsRadio>

            <ChartOptionsRadio @bind-Value="DataOptions.CalculationMethod"
                               Id="extended" Group="ratingsOption"
                               CheckedValue="@TotalHoursWatchedByDoctorCalculationMethod.Extended"
                               AfterValueChanged="AfterOptionChanged">
            </ChartOptionsRadio>
        </ChartOptionsGroup>
    </ChartOptions>
</FullScreenZone>

<Info>
    * Ratings are based on "views", which can be as little as
    <a href="https://www.radiotimes.com/tv/entertainment/how-do-uk-tv-viewing-figures-and-overnight-ratings-work/" target="_blank">3 minutes</a>.
    Beyond that, it's impossible to know how much of an episode someone actually watched, so this is a simple
    calculation based on <strong>ratings * episode length</strong>.
</Info>

@code {
    private ApexChart<TotalHoursWatchedByDoctorDataPoint> Chart { get; set; } = default!;

    private ApexChartOptions<TotalHoursWatchedByDoctorDataPoint> ChartOptions { get; } = TotalHoursWatchedByDoctorChartOptions.Defaults;

    private TotalHoursWatchedByDoctorDataOptions DataOptions { get; } = new();

    private List<TotalHoursWatchedByDoctorDataPoint> DataPoints { get; set; } = default!;

    private decimal GetPercentageShare(TotalHoursWatchedByDoctorDataPoint currentDataPoint)
    {
        var total = DataPoints.Sum(dataPoint => dataPoint.CalculatedTotalHoursWatched);
        var percent = currentDataPoint.CalculatedTotalHoursWatched / total * 100;

        return percent;
    }

    protected override void OnInitialized() => DataPoints = DataPointGenerator.Generate(DataOptions);

    private async Task AfterOptionChanged()
    {
        DataPoints = DataPointGenerator.Generate(DataOptions);

        await Chart.UpdateSeriesAsync();
    }
}
