@page "/charts/episodes"
@inject IEpisodeGuideDataPointGenerator DataPointGenerator

<PageTitle>@EpisodeGuideChartCaptions.Title - @Application.Name</PageTitle>

<ChartHeading Title="@EpisodeGuideChartCaptions.Title"
              Description="@EpisodeGuideChartCaptions.Description" />

<table>
    <tbody>
        @foreach (var doctorDataPoint in DataPoints)
        {
            <tr>
                <td colspan="9">
                    <div class="doctor no@(doctorDataPoint.Doctor)">@Formatter.FormatPosition(doctorDataPoint.Doctor) doctor</div>
                    <div class="actor">@doctorDataPoint.Actor</div>
                </td>
            </tr>

            @foreach (var episodeDataPoint in doctorDataPoint.Episodes)
            {
                var dataPointMetadata = episodeDataPoint.Metadata;

                if (dataPointMetadata.ShowSeasonTitle)
                {
                    <tr>
                        <td colspan="9">
                            <div class="season">@dataPointMetadata.SeasonTitle</div>
                        </td>
                    </tr>
                }

                if (dataPointMetadata.ShowStoryTitle)
                {
                    <tr>
                        <td>
                            <div class="story @dataPointMetadata.ConsecutiveSeasonStoryIndicator">@episodeDataPoint.StoryTitle</div>
                        </td>
                        <td>
                            <div class="story-number">STORY @episodeDataPoint.Story</div>
                        </td>
                        <td>
                            @if (dataPointMetadata.HasStoryWiki)
                            {
                                <a href="@episodeDataPoint.WikiUrl" target="_blank" title="Wikipedia - @episodeDataPoint.StoryTitle">
                                    <img class="wiki" src="images/wikipedia.svg" alt="Wikipedia" />
                                </a>
                            }
                        </td>
                        <td colspan="6"></td>
                    </tr>
                }

                <tr>
                    <td>
                        <div class="episode @dataPointMetadata.EpisodeIndentIndicator">@dataPointMetadata.EpisodeTitle</div>
                    </td>
                    <td>
                        @if (dataPointMetadata.ShowStoryNumber)
                        {
                            <div class="story-number">STORY @episodeDataPoint.Story</div>
                        }
                    </td>
                    <td></td>
                    <td>
                        <div class="episode-number">EPISODE @episodeDataPoint.EpisodeNumber</div>
                    </td>
                    <td>
                        @if (dataPointMetadata.HasEpisodeWiki)
                        {
                            <a href="@episodeDataPoint.WikiUrl" target="_blank" title="Wikipedia - @episodeDataPoint.StoryTitle">
                                <img class="wiki" src="images/wikipedia.svg" alt="Wikipedia" />
                            </a>
                        }
                    </td>
                    <td>
                        <div class="date">@Formatter.FormatDate(episodeDataPoint.OriginalAirDate)</div>
                    </td>
                    <td>
                        <div class="rating">@Formatter.FormatNumber(episodeDataPoint.OvernightRatings) <span class="millions">million overnight</span></div>
                    </td>
                    <td>
                        @if (episodeDataPoint.ConsolidatedRatings != null)
                        {
                            <div class="rating">@Formatter.FormatNumber(episodeDataPoint.ConsolidatedRatings) <span class="millions">million consolidated</span></div>
                        }
                    </td>
                    <td>
                        @if (episodeDataPoint.ExtendedRatings != null)
                        {
                            <div class="rating">@Formatter.FormatNumber(episodeDataPoint.ExtendedRatings) <span class="millions">million extended</span></div>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    private List<EpisodeGuideDoctorDataPoint> DataPoints { get; set; } = default!;

    protected override void OnInitialized() => DataPoints = DataPointGenerator.Generate();
}
