@page "/charts/episodes"
@inject IEpisodeGuideDataPointGenerator DataPointGenerator

<PageTitle>@EpisodeGuideChartCaptions.Title - @Application.Name</PageTitle>

<ChartHeading Title="@EpisodeGuideChartCaptions.Title"
              Description="@EpisodeGuideChartCaptions.Description" />

@foreach (var doctorDataPoint in DataPoints)
{
    <div id="doctor@(doctorDataPoint.Doctor)" class="doctor">
        <div class="doctor-number">@Formatter.FormatPosition(doctorDataPoint.Doctor) doctor</div>
        <div class="actor">@doctorDataPoint.Actor</div>

        @foreach (var episodeDataPoint in doctorDataPoint.Episodes)
        {
            var dataPointMetadata = episodeDataPoint.Metadata;
            var episodeUrl = $"./charts/episodes/{episodeDataPoint.Slug}";


            if (dataPointMetadata.ShowSeasonTitle)
            {
                <div class="season">@dataPointMetadata.SeasonTitle</div>
            }

            @if (dataPointMetadata.ShowStoryTitle)
            {
                <div class="story @dataPointMetadata.ConsecutiveSeasonStoryIndicator">
                    <div class="story-title">@episodeDataPoint.StoryTitle</div>

                    <div class="story-numbers">
                        <div class="story-number">STORY @episodeDataPoint.Story</div>

                        @if (dataPointMetadata.HasStoryWiki)
                        {
                            <div class="story-wiki">
                                <a href="@episodeDataPoint.WikiUrl" target="_blank" title="Wikipedia - @episodeDataPoint.StoryTitle">
                                    <img class="wiki" src="images/wikipedia.svg" alt="Wikipedia" />
                                </a>
                            </div>
                        }
                    </div>
                </div>
            }

            <div class="episode @dataPointMetadata.EpisodeIndentIndicator">
                <a href="@episodeUrl" target="@episodeDataPoint.Slug">
                    <div class="episode-title">@dataPointMetadata.EpisodeTitle</div>
                </a>

                <div class="episode-numbers">
                    @if (dataPointMetadata.ShowStoryNumber)
                    {
                        <div class="episode-story-number">STORY @episodeDataPoint.Story</div>
                    }

                    <div class="episode-number">EPISODE @episodeDataPoint.EpisodeNumber</div>

                    @if (dataPointMetadata.HasEpisodeWiki)
                    {
                        <div class="episode-wiki">
                            <a href="@episodeDataPoint.WikiUrl" target="_blank" title="Wikipedia - @episodeDataPoint.StoryTitle">
                                <img class="wiki" src="images/wikipedia.svg" alt="Wikipedia" />
                            </a>
                        </div>
                    }
                </div>

                <div class="date">@Formatter.FormatDate(episodeDataPoint.OriginalAirDate)</div>

                <div class="ratings">
                    <div class="value">@Formatter.FormatNumber(episodeDataPoint.OvernightRatings)</div>
                    <div class="millions">million overnight</div>

                    @if (episodeDataPoint.ConsolidatedRatings != null)
                    {
                        <div class="value">@Formatter.FormatNumber(episodeDataPoint.ConsolidatedRatings)</div>
                        <div class="millions">million consolidated</div>
                    }

                    @if (episodeDataPoint.ExtendedRatings != null)
                    {
                        <div class="value">@Formatter.FormatNumber(episodeDataPoint.ExtendedRatings)</div>
                        <div class="millions">million extended</div>
                    }
                </div>
            </div>
        }
    </div>
}

@code {
    private List<EpisodeGuideDoctorDataPoint> DataPoints { get; set; } = default!;

    protected override void OnInitialized() => DataPoints = DataPointGenerator.Generate();
}
