<ChartTooltip>
    <ChartTooltipEpisodeSetion Actor="@DataPoint.Actor"
                               EpisodeCount="@DataPoint.EpisodeCount"
                               TotalEpisodeHours="@DataPoint.TotalEpisodeHours" />

    <ChartTooltipBreak />

    <ChartTooltipIconSection IconUrl="images/pie-chart.svg"
                             IconAlt="Share">
        <div class="share">
            <span class="highlighted-value">@Formatter.FormatNumber(PercentageShare)</span>
            <span>% share of total hours watched</span>
        </div>
    </ChartTooltipIconSection>

    <ChartTooltipBreak />

    <ChartTooltipWatchedHoursSection OvernightHoursWatched="@DataPoint.TotalOvernightHoursWatched"
                                     ConsolidatedHoursWatched="@DataPoint.TotalConsolidatedHoursWatched"
                                     ExtendedHoursWatched="@DataPoint.TotalExtendedHoursWatched" />
</ChartTooltip>

@code {
    [Parameter]
    public required ShareByHoursWatchedDataPoint DataPoint { get; set; }

    [Parameter]
    public required ShareByHoursWatchedDataOptions DataOptions { get; set; }

    [Parameter]
    public decimal PercentageShare { get; set; }
}
