@page "/charts/all-episodes"
@inject IAllEpisodesDataGenerator AllEpisodesDataGenerator

<PageTitle>All Episodes - Doctor Who Ratings</PageTitle>

<NavBar />

<div class="page-container">
    <div class="title-block">
        <div class="title">@AllEpisodesData.Title</div>
        <div>@AllEpisodesData.Description</div>
    </div>

    <div class="chart-container ">
        <ApexChart TItem="EpisodeDataPoint"
                   Title="@AllEpisodesData.YAxisTitle"
                   Options="Options"
                   Height="@("100%")"
                   Width="@("100%")">

            <ApexPointTooltip>
                <EpisodeTooltip DataPoint="@context.DataPoint.Items.First()" />
            </ApexPointTooltip>

            <ChildContent>
                <ApexPointSeries TItem="EpisodeDataPoint"
                                 Items="DataSource.DataPoints"
                                 Name="@AllEpisodesData.SeriesTitles[0]"
                                 SeriesType="SeriesType.Bar"
                                 XValue="dp => dp.Episode.Id"
                                 YValue="dp => dp.Episode.OvernightRatings" />
            </ChildContent>
        </ApexChart>
    </div>
</div>

@code {
    private ApexChartOptions<EpisodeDataPoint> Options { get; } = 
        ChartOptionDefaults.ForBarChart<EpisodeDataPoint>(AllEpisodesData.XAxisTitle);
    
    private AllEpisodesData DataSource { get; set; } = default!;

    protected override void OnInitialized()
    {
        DataSource = AllEpisodesDataGenerator.Generate();
    }
}
